/* BLUE ACCENT */

button.light-theme.blue {
    background-image: 
    linear-gradient(to bottom right, hsl(200, 90%, 50%), hsl(200, 90%, 95%));
}

button.dark-theme.blue {
        background-image: 
    linear-gradient(to bottom right, hsl(215, 80%, 5%), hsl(215, 75%, 35%));
}

/* GREEN ACCENT */

button.light-theme.green {
    background-image: 
    linear-gradient(to bottom right, hsl(90, 95%, 50%), hsl(90, 90%, 95%));
}

button.dark-theme.green {
    background-image: 
    linear-gradient(to bottom right, hsl(100, 80%, 5%), hsl(100, 90%, 20%));
}

/* CORAL ACCENT */

button.light-theme.coral {
    background-image: 
    linear-gradient(to bottom right, hsl(350, 95%, 60%), hsl(350, 90%, 95%));
}

button.dark-theme.coral {
    background-image: 
    linear-gradient(to bottom right, hsl(342, 75%, 25%), hsl(342, 80%, 45%));
}

/* PURPLE ACCENT */

button.light-theme.purple {
    background-image: 
    linear-gradient(to bottom right, hsl(285, 90%, 55%), hsl(285, 50%, 95%));
}

button.dark-theme.purple {
    background-image: 
    linear-gradient(to bottom right, hsl(285, 80%, 10%), hsl(285, 50%, 40%));
}