body.light-theme {
    background-color: hsl(0, 0%, 100%);
}

h1.light-theme {
    color: hsl(0, 0%, 0%);
    text-shadow: 3px 3px 3px hsl(0, 0%, 50%);
}

button.light-theme {
    color: hsl(0, 0%, 0%);
    background-image: 
    linear-gradient(to bottom right, hsl(0, 0%, 70%), hsl(0, 0%, 90%));
    border: 3px solid hsl(0, 0%, 0%);
    box-shadow: 3px 3px 3px hsl(100, 0%, 50%);
}

/* STYLERS FOR LARGER SCREEN SIZES */

@media only screen and (min-width: 450px) {
    body.light-theme {
        background-image: 
        linear-gradient(to bottom right, hsl(0, 0%, 65%), hsl(0, 0%, 100%));
    }

    main.light-theme {
        background-color: hsl(0, 0%, 100%);
        border: 3px solid hsl(0, 0%, 0%);
        box-shadow: 5px 5px 5px hsl(0, 0%, 50%);
    }
}